# Ignore everything by default
*

# Unignore the specific files we want to keep
!.gitignore
!index.html
!/FinalProject/
!/FinalProject/**

# Ignore heavy data, serialized models, and checkpoints inside FinalProject
/FinalProject/**/*.pdf
/FinalProject/**/*.csv
!/FinalProject/**/*Expert_Evaluation_Form.csv
/FinalProject/**/*.p
/FinalProject/**/*.pkl
/FinalProject/**/*.h5
/FinalProject/**/__pycache__/
/FinalProject/**/*.pyc
/FinalProject/**/.ipynb_checkpoints/
# Ignore system / configuration files
/FinalProject/**/.DS_Store
/FinalProject/**/Thumbs.db
.env
**/.env
